{% extends "layout.html" %} {% block content %}

<div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
</div>
{% if showForm %}
<form action="/tweets" method="POST">
    <label for="name_field">Name:</label>
    <input name="name" value="{{name}}" />

    <label for="text_field">Text:</label>
    <input name="text" type="text" id="text_field" style="width: 350px;" />

    <input type="submit" value="Submit" />
</form>
{% endif %}
<div class="row">
    <div class="col-md-3">
        <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
        <b>Your Name</b><br> 100 followers
    </div>
    <div class="col-md-9">

        <!-- display tweets here -->
        {% for tweet in tweets %}
        <img class="avatar" src="https://s3.amazonaws.com/bloc-global-assets/almanac-assets/bootcamps/logos/000/002/671/original/grace-hopper-academy.jpg?1467187331" />
        <li><strong><a href="/users/{{tweet.name}}">{{tweet.name}}</a></strong></li>
        <li>{{tweet.content}}</li>
        <p><a href="#">Re-Tweet</a></p>
        {% endfor %}

    </div>
</div>

{% endblock %}
